.navbar1{
    text-align: right;
    margin-left: 85%;
}

.footer1{
    margin-top: 0%;
    text-align: center;
    color: white;
    font-size: larger;
    background-color: black;
    padding: 5%;
}